@charset "utf-8";
.row .col-sm-12 h4 {
}
.row .col-sm-12 h4 {
}
.nama-orang {
	font-size: x-large;
	text-decoration: underline;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
